.win{
    background-color: lightgreen;

}
.loss{
    background-color: red;
}
li{
    /* margin: 10px;
    padding: 10px; */
    border-bottom: 2px black solid;
}
.subTitle{
    text-align: center;
    
}
.head{
    text-align: center;
}
